<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myLogin</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>hong.guo.filter.LoginFilter</filter-class>
	  <init-param>
		  <param-name>exceptPage</param-name>
		  <param-value>LoginServlet;login.jsp;bootstrap.min.css;jquery.slideunlock.js;jquery-3.2.1.min.js;jquery.validate.js;bootstrap.min.js;bootbox.min.js</param-value>
	  </init-param>
	  <init-param>
	  	<param-name>encoding</param-name>
	  	<param-value>UTF-8</param-value>
	  </init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>hong.guo.loginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegistServlet</servlet-name>
  	<servlet-class>hong.guo.loginServlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistServlet</servlet-name>
  	<url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  
</web-app>